In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\Users\Daniel\Projetos JupyterNotebook\ENEM2019.csv", sep=",")
df

,Unnamed: 0,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,...,NU_NOTA_REDACAO,Q010,Q012,Q016,Q022,Q024,Q025,IN_DEFICIENTE,IN_PRIORIDADE,IN_RECURSO_ESPECIAL
0,0,190001595656,Sorocaba,SP,36.0,M,1,3,1,Itabuna,...,NaN,A,B,A,C,C,B,0,0,0
1,1,190001421546,Feira de Santana,BA,23.0,M,1,1,1,Feira de Santana,...,NaN,A,B,A,E,A,B,0,0,0
2,2,190001133210,Fortaleza,CE,39.0,F,1,3,1,Fortaleza,...,NaN,A,B,A,C,A,B,0,0,0
3,3,190001199383,Palmas,TO,25.0,F,1,1,1,Palmas,...,460.0,A,B,A,D,B,B,0,0,0
4,4,190001237802,Contagem,MG,22.0,F,1,1,1,Contagem,...,860.0,B,B,B,C,B,B,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,5095265,190006074437,Brasília,DF,41.0,F,4,3,1,Marabá,...,NaN,A,B,B,B,A,B,0,0,0
5095266,5095266,190005429225,Manaus,AM,20.0,M,1,3,1,Manicoré,...,500.0,A,B,A,E,A,B,0,0,0
5095267,5095267,190006087652,Bento Gonçalves,RS,21.0,M,0,0,1,Bento Gonçalves,...,NaN,B,B,A,C,B,B,1,0,0
5095268,5095268,190006087653,Bento Gonçalves,RS,22.0,M,0,0,1,Bento Gonçalves,...,NaN,A,B,B,A,A,B,1,0,0
5095269,5095269,190006087654,Bento Gonçalves,RS,21.0,F,0,0,1,Sombrio,...,NaN,B,B,A,B,B,B,1,0,0

In [3]:
df['TP_ESTADO_CIVIL'] = df['TP_ESTADO_CIVIL'].replace({0: 'Não informado'})

df['TP_ESTADO_CIVIL'] = df['TP_ESTADO_CIVIL'].replace({1: 'Solteiro(a)'})

df['TP_ESTADO_CIVIL'] = df['TP_ESTADO_CIVIL'].replace({2: 'Casado(a)/Mora com companheiro(a)'})

df['TP_ESTADO_CIVIL'] = df['TP_ESTADO_CIVIL'].replace({3: 'Divorciado(a)/Desquitado(a)/Separado(a)'})

df['TP_ESTADO_CIVIL'] = df['TP_ESTADO_CIVIL'].replace({4: 'Viúvo(a)'})

df['TP_COR_RACA'] = df['TP_COR_RACA'].replace({0: 'Não declarado'})

df['TP_COR_RACA'] = df['TP_COR_RACA'].replace({1: 'Branca'})

df['TP_COR_RACA'] = df['TP_COR_RACA'].replace({2: 'Preta'})

df['TP_COR_RACA'] = df['TP_COR_RACA'].replace({3: 'Parda'})

df['TP_COR_RACA'] = df['TP_COR_RACA'].replace({4: 'Amarela'})

df['TP_COR_RACA'] = df['TP_COR_RACA'].replace({5: 'Indígena '})

df['TP_NACIONALIDADE'] = df['TP_NACIONALIDADE'].replace({0: 'Não informado'})

df['TP_NACIONALIDADE'] = df['TP_NACIONALIDADE'].replace({1: 'Brasileiro(a)'})

df['TP_NACIONALIDADE'] = df['TP_NACIONALIDADE'].replace({2: 'Brasileiro(a) Naturalizado(a)'})

df['TP_NACIONALIDADE'] = df['TP_NACIONALIDADE'].replace({3: 'Estrangeiro(a)'})

df['TP_NACIONALIDADE'] = df['TP_NACIONALIDADE'].replace({4: 'Brasileiro(a) Nato(a), nascido(a) no exterior'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({0: 'Não informado'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({1: '2018'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({2: '2017'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({3: '2016'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({4: '2015'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({5: '2014'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({6: '2013'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({7: '2012'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({8: '2011'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({9: '2010'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({10: '2009'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({11: '2008'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({12: '2007'})

df['TP_ANO_CONCLUIU'] = df['TP_ANO_CONCLUIU'].replace({13: 'Antes de 2007'})

df['TP_ST_CONCLUSAO'] = df['TP_ST_CONCLUSAO'].replace({1: 'Já concluí o Ensino Médio'})

df['TP_ST_CONCLUSAO'] = df['TP_ST_CONCLUSAO'].replace({2: 'Estou cursando e concluirei o Ensino Médio em 2019'})

df['TP_ST_CONCLUSAO'] = df['TP_ST_CONCLUSAO'].replace({3: 'Estou cursando e concluirei o Ensino Médio após 2019'})

df['TP_ST_CONCLUSAO'] = df['TP_ST_CONCLUSAO'].replace({4: 'Não concluí e não estou cursando o Ensino Médio'})

df['TP_ESCOLA'] = df['TP_ESCOLA'].replace({1: 'Não Respondeu'})

df['TP_ESCOLA'] = df['TP_ESCOLA'].replace({2: 'Pública'})

df['TP_ESCOLA'] = df['TP_ESCOLA'].replace({3: 'Privada'})

df['TP_ESCOLA'] = df['TP_ESCOLA'].replace({4: 'Exterior'})

df['TP_ENSINO'] = df['TP_ENSINO'].replace({1: 'Ensino Regular'})

df['TP_ENSINO'] = df['TP_ENSINO'].replace({2: 'Educação Especial - Modalidade Substitutiva'})

df['TP_ENSINO'] = df['TP_ENSINO'].replace({3: 'Educação de Jovens e Adultos'})

df['TP_DEPENDENCIA_ADM_ESC'] = df['TP_DEPENDENCIA_ADM_ESC'].replace({1: 'Federal'})

df['TP_DEPENDENCIA_ADM_ESC'] = df['TP_DEPENDENCIA_ADM_ESC'].replace({2: 'Estadual'})

df['TP_DEPENDENCIA_ADM_ESC'] = df['TP_DEPENDENCIA_ADM_ESC'].replace({3: 'Municipal'})

df['TP_DEPENDENCIA_ADM_ESC'] = df['TP_DEPENDENCIA_ADM_ESC'].replace({4: 'Privada'})

df['TP_LOCALIZACAO_ESC'] = df['TP_LOCALIZACAO_ESC'].replace({1: 'Urbana'})

df['TP_LOCALIZACAO_ESC'] = df['TP_LOCALIZACAO_ESC'].replace({2: 'Rural'})

df['TP_PRESENCA_CN'] = df['TP_PRESENCA_CN'].replace({0: 'Faltou à prova'})

df['TP_PRESENCA_CN'] = df['TP_PRESENCA_CN'].replace({1: 'Presente na prova'})

df['TP_PRESENCA_CN'] = df['TP_PRESENCA_CN'].replace({2: 'Eliminado na prova'})

df['TP_PRESENCA_CH'] = df['TP_PRESENCA_CH'].replace({0: 'Faltou à prova'})

df['TP_PRESENCA_CH'] = df['TP_PRESENCA_CH'].replace({1: 'Presente na prova'})

df['TP_PRESENCA_CH'] = df['TP_PRESENCA_CH'].replace({2: 'Eliminado na prova'})

df['TP_PRESENCA_LC'] = df['TP_PRESENCA_LC'].replace({0: 'Faltou à prova'})

df['TP_PRESENCA_LC'] = df['TP_PRESENCA_LC'].replace({1: 'Presente na prova'})

df['TP_PRESENCA_LC'] = df['TP_PRESENCA_LC'].replace({2: 'Eliminado na prova'})

df['TP_PRESENCA_MT'] = df['TP_PRESENCA_MT'].replace({0: 'Faltou à prova'})

df['TP_PRESENCA_MT'] = df['TP_PRESENCA_MT'].replace({1: 'Presente na prova'})

df['TP_PRESENCA_MT'] = df['TP_PRESENCA_MT'].replace({2: 'Eliminado na prova'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({503: 'Azul'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({504: 'Amarela'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({505: 'Cinza'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({506: 'Rosa'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({519: 'Laranja - Adaptada Ledor'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({523: 'Verde - Videoprova - Libras'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({543: 'Amarela (Reaplicação)'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({544: 'Cinza (Reaplicação)'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({545: 'Azul (Reaplicação)'})

df['CO_PROVA_CN'] = df['CO_PROVA_CN'].replace({546: 'Rosa (Reaplicação)'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({507: 'Azul'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({508: 'Amarela'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({509: 'Branca'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({510: 'Rosa'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({520: 'Laranja - Adaptada Ledor'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({524: 'Verde - Videoprova - Libras'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({547: 'Azul (Reaplicação)'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({548: 'Amarelo (Reaplicação)'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({549: 'Branco (Reaplicação)'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({550: 'Rosa (Reaplicação)'})

df['CO_PROVA_CH'] = df['CO_PROVA_CH'].replace({564: 'Laranja - Adaptada Ledor (Reaplicação)'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({511: 'Azul'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({512: 'Amarela'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({513: 'Rosa'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({514: 'Branca'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({521: 'Laranja - Adaptada Ledor'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({525: 'Verde - Videoprova - Libras'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({551: 'Azul (Reaplicação)'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({552: 'Amarelo (Reaplicação)'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({553: 'Branca (Reaplicação)'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({554: 'Rosa (Reaplicação)'})

df['CO_PROVA_LC'] = df['CO_PROVA_LC'].replace({565: 'Laranja - Adaptada Ledor (Reaplicação)'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({515: 'Azul'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({516: 'Amarela'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({517: 'Rosa'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({518: 'Cinza'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({522: 'Laranja - Adaptada Ledor'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({526: 'Verde - Videoprova - Libras'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({555: 'Amarela (Reaplicação)'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({556: 'Cinza (Reaplicação)'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({557: 'Azul (Reaplicação)'})

df['CO_PROVA_MT'] = df['CO_PROVA_MT'].replace({558: 'Rosa (Reaplicação)'})

df['TP_LINGUA'] = df['TP_LINGUA'].replace({0: 'Inglês'})

df['TP_LINGUA'] = df['TP_LINGUA'].replace({1: 'Espanhol'})

df['TP_STATUS_REDACAO'] = df['TP_STATUS_REDACAO'].replace({1: 'Sem problemas'})

df['TP_STATUS_REDACAO'] = df['TP_STATUS_REDACAO'].replace({2: 'Anulada'})

df['TP_STATUS_REDACAO'] = df['TP_STATUS_REDACAO'].replace({3: 'Cópia Texto Motivador'})

df['TP_STATUS_REDACAO'] = df['TP_STATUS_REDACAO'].replace({4: 'Em Branco'})

df['TP_STATUS_REDACAO'] = df['TP_STATUS_REDACAO'].replace({6: 'Fuga ao tema'})

df['TP_STATUS_REDACAO'] = df['TP_STATUS_REDACAO'].replace({7: 'Não atendimento ao tipo textual'})

df['TP_STATUS_REDACAO'] = df['TP_STATUS_REDACAO'].replace({8: 'Texto insuficiente'})

df['TP_STATUS_REDACAO'] = df['TP_STATUS_REDACAO'].replace({9: 'Parte desconectada'})

df['Q010'] = df['Q010'].replace({'A': 'Não.'})

df['Q010'] = df['Q010'].replace({'B': 'Sim, um.'})

df['Q010'] = df['Q010'].replace({'C': 'Sim, dois.'})

df['Q010'] = df['Q010'].replace({'D': 'Sim, três.'})

df['Q010'] = df['Q010'].replace({'E': 'Sim, quatro ou mais.'})

df['Q012'] = df['Q012'].replace({'A': 'Não.'})

df['Q012'] = df['Q012'].replace({'B': 'Sim, uma.'})

df['Q012'] = df['Q012'].replace({'C': 'Sim, duas.'})

df['Q012'] = df['Q012'].replace({'D': 'Sim, três.'})

df['Q012'] = df['Q012'].replace({'E': 'Sim, quatro ou mais.'})

df['Q016'] = df['Q016'].replace({'A': 'Não.'})

df['Q016'] = df['Q016'].replace({'B': 'Sim, um.'})

df['Q016'] = df['Q016'].replace({'C': 'Sim, dois.'})

df['Q016'] = df['Q016'].replace({'D': 'Sim, três.'})

df['Q016'] = df['Q016'].replace({'E': 'Sim, quatro ou mais.'})

df['Q022'] = df['Q022'].replace({'A': 'Não.'})

df['Q022'] = df['Q022'].replace({'B': 'Sim, um.'})

df['Q022'] = df['Q022'].replace({'C': 'Sim, dois.'})

df['Q022'] = df['Q022'].replace({'D': 'Sim, três.'})

df['Q022'] = df['Q022'].replace({'E': 'Sim, quatro ou mais.'})

df['Q024'] = df['Q024'].replace({'A': 'Não.'})

df['Q024'] = df['Q024'].replace({'B': 'Sim, um.'})

df['Q024'] = df['Q024'].replace({'C': 'Sim, dois.'})

df['Q024'] = df['Q024'].replace({'D': 'Sim, três.'})

df['Q024'] = df['Q024'].replace({'E': 'Sim, quatro ou mais.'})

df['Q025'] = df['Q025'].replace({'A': 'Não.'})

df['Q025'] = df['Q025'].replace({'B': 'Sim.'})

df

,Unnamed: 0,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,...,NU_NOTA_REDACAO,Q010,Q012,Q016,Q022,Q024,Q025,IN_DEFICIENTE,IN_PRIORIDADE,IN_RECURSO_ESPECIAL
0,0,190001595656,Sorocaba,SP,36.0,M,Solteiro(a),Parda,Brasileiro(a),Itabuna,...,NaN,Não.,"Sim, uma.",Não.,"Sim, dois.","Sim, dois.",Sim.,0,0,0
1,1,190001421546,Feira de Santana,BA,23.0,M,Solteiro(a),Branca,Brasileiro(a),Feira de Santana,...,NaN,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
2,2,190001133210,Fortaleza,CE,39.0,F,Solteiro(a),Parda,Brasileiro(a),Fortaleza,...,NaN,Não.,"Sim, uma.",Não.,"Sim, dois.",Não.,Sim.,0,0,0
3,3,190001199383,Palmas,TO,25.0,F,Solteiro(a),Branca,Brasileiro(a),Palmas,...,460.0,Não.,"Sim, uma.",Não.,"Sim, três.","Sim, um.",Sim.,0,0,0
4,4,190001237802,Contagem,MG,22.0,F,Solteiro(a),Branca,Brasileiro(a),Contagem,...,860.0,"Sim, um.","Sim, uma.","Sim, um.","Sim, dois.","Sim, um.",Sim.,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,5095265,190006074437,Brasília,DF,41.0,F,Viúvo(a),Parda,Brasileiro(a),Marabá,...,NaN,Não.,"Sim, uma.","Sim, um.","Sim, um.",Não.,Sim.,0,0,0
5095266,5095266,190005429225,Manaus,AM,20.0,M,Solteiro(a),Parda,Brasileiro(a),Manicoré,...,500.0,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
5095267,5095267,190006087652,Bento Gonçalves,RS,21.0,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,...,NaN,"Sim, um.","Sim, uma.",Não.,"Sim, dois.","Sim, um.",Sim.,1,0,0
5095268,5095268,190006087653,Bento Gonçalves,RS,22.0,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,...,NaN,Não.,"Sim, uma.","Sim, um.",Não.,Não.,Sim.,1,0,0
5095269,5095269,190006087654,Bento Gonçalves,RS,21.0,F,Não informado,Não declarado,Brasileiro(a),Sombrio,...,NaN,"Sim, um.","Sim, uma.",Não.,"Sim, um.","Sim, um.",Sim.,1,0,0

In [4]:
df= df.drop(columns=['Unnamed: 0'])
df

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,...,NU_NOTA_REDACAO,Q010,Q012,Q016,Q022,Q024,Q025,IN_DEFICIENTE,IN_PRIORIDADE,IN_RECURSO_ESPECIAL
0,190001595656,Sorocaba,SP,36.0,M,Solteiro(a),Parda,Brasileiro(a),Itabuna,BA,...,NaN,Não.,"Sim, uma.",Não.,"Sim, dois.","Sim, dois.",Sim.,0,0,0
1,190001421546,Feira de Santana,BA,23.0,M,Solteiro(a),Branca,Brasileiro(a),Feira de Santana,BA,...,NaN,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
2,190001133210,Fortaleza,CE,39.0,F,Solteiro(a),Parda,Brasileiro(a),Fortaleza,CE,...,NaN,Não.,"Sim, uma.",Não.,"Sim, dois.",Não.,Sim.,0,0,0
3,190001199383,Palmas,TO,25.0,F,Solteiro(a),Branca,Brasileiro(a),Palmas,TO,...,460.0,Não.,"Sim, uma.",Não.,"Sim, três.","Sim, um.",Sim.,0,0,0
4,190001237802,Contagem,MG,22.0,F,Solteiro(a),Branca,Brasileiro(a),Contagem,MG,...,860.0,"Sim, um.","Sim, uma.","Sim, um.","Sim, dois.","Sim, um.",Sim.,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006074437,Brasília,DF,41.0,F,Viúvo(a),Parda,Brasileiro(a),Marabá,PA,...,NaN,Não.,"Sim, uma.","Sim, um.","Sim, um.",Não.,Sim.,0,0,0
5095266,190005429225,Manaus,AM,20.0,M,Solteiro(a),Parda,Brasileiro(a),Manicoré,AM,...,500.0,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
5095267,190006087652,Bento Gonçalves,RS,21.0,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,RS,...,NaN,"Sim, um.","Sim, uma.",Não.,"Sim, dois.","Sim, um.",Sim.,1,0,0
5095268,190006087653,Bento Gonçalves,RS,22.0,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,RS,...,NaN,Não.,"Sim, uma.","Sim, um.",Não.,Não.,Sim.,1,0,0
5095269,190006087654,Bento Gonçalves,RS,21.0,F,Não informado,Não declarado,Brasileiro(a),Sombrio,SC,...,NaN,"Sim, um.","Sim, uma.",Não.,"Sim, um.","Sim, um.",Sim.,1,0,0

In [5]:
df2 = df
df2

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,...,NU_NOTA_REDACAO,Q010,Q012,Q016,Q022,Q024,Q025,IN_DEFICIENTE,IN_PRIORIDADE,IN_RECURSO_ESPECIAL
0,190001595656,Sorocaba,SP,36.0,M,Solteiro(a),Parda,Brasileiro(a),Itabuna,BA,...,NaN,Não.,"Sim, uma.",Não.,"Sim, dois.","Sim, dois.",Sim.,0,0,0
1,190001421546,Feira de Santana,BA,23.0,M,Solteiro(a),Branca,Brasileiro(a),Feira de Santana,BA,...,NaN,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
2,190001133210,Fortaleza,CE,39.0,F,Solteiro(a),Parda,Brasileiro(a),Fortaleza,CE,...,NaN,Não.,"Sim, uma.",Não.,"Sim, dois.",Não.,Sim.,0,0,0
3,190001199383,Palmas,TO,25.0,F,Solteiro(a),Branca,Brasileiro(a),Palmas,TO,...,460.0,Não.,"Sim, uma.",Não.,"Sim, três.","Sim, um.",Sim.,0,0,0
4,190001237802,Contagem,MG,22.0,F,Solteiro(a),Branca,Brasileiro(a),Contagem,MG,...,860.0,"Sim, um.","Sim, uma.","Sim, um.","Sim, dois.","Sim, um.",Sim.,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006074437,Brasília,DF,41.0,F,Viúvo(a),Parda,Brasileiro(a),Marabá,PA,...,NaN,Não.,"Sim, uma.","Sim, um.","Sim, um.",Não.,Sim.,0,0,0
5095266,190005429225,Manaus,AM,20.0,M,Solteiro(a),Parda,Brasileiro(a),Manicoré,AM,...,500.0,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
5095267,190006087652,Bento Gonçalves,RS,21.0,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,RS,...,NaN,"Sim, um.","Sim, uma.",Não.,"Sim, dois.","Sim, um.",Sim.,1,0,0
5095268,190006087653,Bento Gonçalves,RS,22.0,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,RS,...,NaN,Não.,"Sim, uma.","Sim, um.",Não.,Não.,Sim.,1,0,0
5095269,190006087654,Bento Gonçalves,RS,21.0,F,Não informado,Não declarado,Brasileiro(a),Sombrio,SC,...,NaN,"Sim, um.","Sim, uma.",Não.,"Sim, um.","Sim, um.",Sim.,1,0,0

In [6]:
df2.dtypes

NU_INSCRICAO                 int64
NO_MUNICIPIO_RESIDENCIA     object
SG_UF_RESIDENCIA            object
NU_IDADE                   float64
TP_SEXO                     object
TP_ESTADO_CIVIL             object
TP_COR_RACA                 object
TP_NACIONALIDADE            object
NO_MUNICIPIO_NASCIMENTO     object
SG_UF_NASCIMENTO            object
TP_ST_CONCLUSAO             object
TP_ANO_CONCLUIU             object
TP_ESCOLA                   object
TP_ENSINO                   object
IN_TREINEIRO                 int64
CO_ESCOLA                  float64
NO_MUNICIPIO_ESC            object
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC      object
TP_LOCALIZACAO_ESC          object
IN_SEM_RECURSO               int64
NO_MUNICIPIO_PROVA          object
SG_UF_PROVA                 object
TP_PRESENCA_CN              object
TP_PRESENCA_CH              object
TP_PRESENCA_LC              object
TP_PRESENCA_MT              object
CO_PROVA_CN                 object
CO_PROVA_CH                 object
CO_PROVA_LC                 object
CO_PROVA_MT                 object
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                   object
TP_STATUS_REDACAO           object
NU_NOTA_REDACAO            float64
Q010                        object
Q012                        object
Q016                        object
Q022                        object
Q024                        object
Q025                        object
IN_DEFICIENTE                int64
IN_PRIORIDADE                int64
IN_RECURSO_ESPECIAL          int64
dtype: object

In [7]:
import numpy as np

In [8]:
df2['NU_IDADE'] = df2['NU_IDADE'].fillna(0)
df2['CO_ESCOLA'] = df2['CO_ESCOLA'].fillna(0)
df2['NU_NOTA_CN'] = df2['NU_NOTA_CN'].fillna(0)
df2['NU_NOTA_CH'] = df2['NU_NOTA_CH'].fillna(0)
df2['NU_NOTA_LC'] = df2['NU_NOTA_LC'].fillna(0)
df2['NU_NOTA_MT'] = df2['NU_NOTA_MT'].fillna(0)
df2['NU_NOTA_REDACAO'] = df2['NU_NOTA_REDACAO'].fillna(0)
df2

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,...,NU_NOTA_REDACAO,Q010,Q012,Q016,Q022,Q024,Q025,IN_DEFICIENTE,IN_PRIORIDADE,IN_RECURSO_ESPECIAL
0,190001595656,Sorocaba,SP,36.0,M,Solteiro(a),Parda,Brasileiro(a),Itabuna,BA,...,0.0,Não.,"Sim, uma.",Não.,"Sim, dois.","Sim, dois.",Sim.,0,0,0
1,190001421546,Feira de Santana,BA,23.0,M,Solteiro(a),Branca,Brasileiro(a),Feira de Santana,BA,...,0.0,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
2,190001133210,Fortaleza,CE,39.0,F,Solteiro(a),Parda,Brasileiro(a),Fortaleza,CE,...,0.0,Não.,"Sim, uma.",Não.,"Sim, dois.",Não.,Sim.,0,0,0
3,190001199383,Palmas,TO,25.0,F,Solteiro(a),Branca,Brasileiro(a),Palmas,TO,...,460.0,Não.,"Sim, uma.",Não.,"Sim, três.","Sim, um.",Sim.,0,0,0
4,190001237802,Contagem,MG,22.0,F,Solteiro(a),Branca,Brasileiro(a),Contagem,MG,...,860.0,"Sim, um.","Sim, uma.","Sim, um.","Sim, dois.","Sim, um.",Sim.,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006074437,Brasília,DF,41.0,F,Viúvo(a),Parda,Brasileiro(a),Marabá,PA,...,0.0,Não.,"Sim, uma.","Sim, um.","Sim, um.",Não.,Sim.,0,0,0
5095266,190005429225,Manaus,AM,20.0,M,Solteiro(a),Parda,Brasileiro(a),Manicoré,AM,...,500.0,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
5095267,190006087652,Bento Gonçalves,RS,21.0,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,RS,...,0.0,"Sim, um.","Sim, uma.",Não.,"Sim, dois.","Sim, um.",Sim.,1,0,0
5095268,190006087653,Bento Gonçalves,RS,22.0,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,RS,...,0.0,Não.,"Sim, uma.","Sim, um.",Não.,Não.,Sim.,1,0,0
5095269,190006087654,Bento Gonçalves,RS,21.0,F,Não informado,Não declarado,Brasileiro(a),Sombrio,SC,...,0.0,"Sim, um.","Sim, uma.",Não.,"Sim, um.","Sim, um.",Sim.,1,0,0

In [9]:
df2.dtypes

NU_INSCRICAO                 int64
NO_MUNICIPIO_RESIDENCIA     object
SG_UF_RESIDENCIA            object
NU_IDADE                   float64
TP_SEXO                     object
TP_ESTADO_CIVIL             object
TP_COR_RACA                 object
TP_NACIONALIDADE            object
NO_MUNICIPIO_NASCIMENTO     object
SG_UF_NASCIMENTO            object
TP_ST_CONCLUSAO             object
TP_ANO_CONCLUIU             object
TP_ESCOLA                   object
TP_ENSINO                   object
IN_TREINEIRO                 int64
CO_ESCOLA                  float64
NO_MUNICIPIO_ESC            object
SG_UF_ESC                   object
TP_DEPENDENCIA_ADM_ESC      object
TP_LOCALIZACAO_ESC          object
IN_SEM_RECURSO               int64
NO_MUNICIPIO_PROVA          object
SG_UF_PROVA                 object
TP_PRESENCA_CN              object
TP_PRESENCA_CH              object
TP_PRESENCA_LC              object
TP_PRESENCA_MT              object
CO_PROVA_CN                 object
CO_PROVA_CH                 object
CO_PROVA_LC                 object
CO_PROVA_MT                 object
NU_NOTA_CN                 float64
NU_NOTA_CH                 float64
NU_NOTA_LC                 float64
NU_NOTA_MT                 float64
TP_LINGUA                   object
TP_STATUS_REDACAO           object
NU_NOTA_REDACAO            float64
Q010                        object
Q012                        object
Q016                        object
Q022                        object
Q024                        object
Q025                        object
IN_DEFICIENTE                int64
IN_PRIORIDADE                int64
IN_RECURSO_ESPECIAL          int64
dtype: object

In [10]:
df2['NU_IDADE'] = df2['NU_IDADE'].astype('int64')
df2['CO_ESCOLA'] = df2['CO_ESCOLA'].astype('int64')
df2['NU_NOTA_CN'] = df2['NU_NOTA_CN'].astype('int64')
df2['NU_NOTA_CH'] = df2['NU_NOTA_CH'].astype('int64')
df2['NU_NOTA_LC'] = df2['NU_NOTA_LC'].astype('int64')
df2['NU_NOTA_MT'] = df2['NU_NOTA_MT'].astype('int64')
df2['NU_NOTA_REDACAO'] = df2['NU_NOTA_REDACAO'].astype('int64')
df2

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,...,NU_NOTA_REDACAO,Q010,Q012,Q016,Q022,Q024,Q025,IN_DEFICIENTE,IN_PRIORIDADE,IN_RECURSO_ESPECIAL
0,190001595656,Sorocaba,SP,36,M,Solteiro(a),Parda,Brasileiro(a),Itabuna,BA,...,0,Não.,"Sim, uma.",Não.,"Sim, dois.","Sim, dois.",Sim.,0,0,0
1,190001421546,Feira de Santana,BA,23,M,Solteiro(a),Branca,Brasileiro(a),Feira de Santana,BA,...,0,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
2,190001133210,Fortaleza,CE,39,F,Solteiro(a),Parda,Brasileiro(a),Fortaleza,CE,...,0,Não.,"Sim, uma.",Não.,"Sim, dois.",Não.,Sim.,0,0,0
3,190001199383,Palmas,TO,25,F,Solteiro(a),Branca,Brasileiro(a),Palmas,TO,...,460,Não.,"Sim, uma.",Não.,"Sim, três.","Sim, um.",Sim.,0,0,0
4,190001237802,Contagem,MG,22,F,Solteiro(a),Branca,Brasileiro(a),Contagem,MG,...,860,"Sim, um.","Sim, uma.","Sim, um.","Sim, dois.","Sim, um.",Sim.,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006074437,Brasília,DF,41,F,Viúvo(a),Parda,Brasileiro(a),Marabá,PA,...,0,Não.,"Sim, uma.","Sim, um.","Sim, um.",Não.,Sim.,0,0,0
5095266,190005429225,Manaus,AM,20,M,Solteiro(a),Parda,Brasileiro(a),Manicoré,AM,...,500,Não.,"Sim, uma.",Não.,"Sim, quatro ou mais.",Não.,Sim.,0,0,0
5095267,190006087652,Bento Gonçalves,RS,21,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,RS,...,0,"Sim, um.","Sim, uma.",Não.,"Sim, dois.","Sim, um.",Sim.,1,0,0
5095268,190006087653,Bento Gonçalves,RS,22,M,Não informado,Não declarado,Brasileiro(a),Bento Gonçalves,RS,...,0,Não.,"Sim, uma.","Sim, um.",Não.,Não.,Sim.,1,0,0
5095269,190006087654,Bento Gonçalves,RS,21,F,Não informado,Não declarado,Brasileiro(a),Sombrio,SC,...,0,"Sim, um.","Sim, uma.",Não.,"Sim, um.","Sim, um.",Sim.,1,0,0

In [11]:
df2.dtypes

NU_INSCRICAO                int64
NO_MUNICIPIO_RESIDENCIA    object
SG_UF_RESIDENCIA           object
NU_IDADE                    int64
TP_SEXO                    object
TP_ESTADO_CIVIL            object
TP_COR_RACA                object
TP_NACIONALIDADE           object
NO_MUNICIPIO_NASCIMENTO    object
SG_UF_NASCIMENTO           object
TP_ST_CONCLUSAO            object
TP_ANO_CONCLUIU            object
TP_ESCOLA                  object
TP_ENSINO                  object
IN_TREINEIRO                int64
CO_ESCOLA                   int64
NO_MUNICIPIO_ESC           object
SG_UF_ESC                  object
TP_DEPENDENCIA_ADM_ESC     object
TP_LOCALIZACAO_ESC         object
IN_SEM_RECURSO              int64
NO_MUNICIPIO_PROVA         object
SG_UF_PROVA                object
TP_PRESENCA_CN             object
TP_PRESENCA_CH             object
TP_PRESENCA_LC             object
TP_PRESENCA_MT             object
CO_PROVA_CN                object
CO_PROVA_CH                object
CO_PROVA_LC                object
CO_PROVA_MT                object
NU_NOTA_CN                  int64
NU_NOTA_CH                  int64
NU_NOTA_LC                  int64
NU_NOTA_MT                  int64
TP_LINGUA                  object
TP_STATUS_REDACAO          object
NU_NOTA_REDACAO             int64
Q010                       object
Q012                       object
Q016                       object
Q022                       object
Q024                       object
Q025                       object
IN_DEFICIENTE               int64
IN_PRIORIDADE               int64
IN_RECURSO_ESPECIAL         int64
dtype: object

In [12]:
df2.to_csv(r"D:\Users\Daniel\Projetos JupyterNotebook\ENEM2019_NOVO.csv", index = False)